.background {
  max-width: 100%;
  position: absolute;
  z-index: -1;

  &__astronaut {
    top: 9%;
    left: 58%;
    transform: translateX(-50%);
  }

  &__satelite {
    top: 5%;
    right: 10%;
    transform: translateX(-50%);
  }

  &__planet {
    top: 27%;
    left: 13%;
  }

  &__bulan {
    top: 36%;
    right: -20px;
  }

  &__rocket {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

.hero-title {
  width: 100%;

  &__body {
    h1 {
      font-size: 64px;
      color: $white;
    }
  }

  &__title-image {
    margin-top: 30px;
  }

  &__image {
    position: relative;
    justify-content: start;
  }
}
