@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

$base-size: 16;
$white: #fff;
$f-roboto: 'Roboto', sans-serif;

@mixin image {
  margin: auto;
  display: block;
  max-width: 100%;
}

@function font-size($size) {
  @return ($size / $base-size) + em;
}

html,
body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: $f-roboto;
  color: $white;
  font-size: $base-size + px;
  overflow-x: hidden;
}

body {
  position: relative;
  background-image: url('../assets/images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

img {
  max-width: 100%;
  display: block;
}

.relative {
  position: relative !important;
}

.absolute {
  position: absolute !important;
}

.no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.txt-cnt {
  text-align: center;
}
