.forms {
  &-list {
    list-style-type: none;
    padding: 30px 0;
    margin: 0;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }

  &-list__item {
    border: 1.5px solid $white;
    justify-content: stretch;
    align-content: center;
    text-align: center;
    line-height: 45px;
    font-weight: 500;

    input {
      display: none;
    }

    label {
      display: block;
    }

    input:checked + label {
      background-color: blue;
    }
  }

  &-item {
    text-align: center;
    margin: auto;

    input {
      box-shadow: none;
      background: transparent;
      border: none;
      line-height: 1.5;
      border-bottom: 1px solid white;
      font-size: 18px;
      color: white;

      &:focus,
      &:active {
        outline: none !important;
      }
    }
  }
}
