.fullscreen {
  width: 100%;
  height: 100%;
  z-index: 1;
  display: grid;
  align-content: center;
}

.container {
  width: 100%;
  max-width: 840px;
  margin: auto;
  position: relative;
  box-sizing: border-box;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 'left right';
  place-items: center;

  &__left {
    width: 100%;
    grid-area: left;
  }

  &__right {
    width: 100%;
    grid-area: right;
  }
}

.grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 'left middle right';
  place-items: center;

  &__left {
    width: 100%;
    grid-area: left;
  }

  &__middle {
    width: 100%;
    grid-area: middle;
  }

  &__right {
    width: 100%;
    grid-area: right;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 100vw;
    width: 100%;
    padding: 0 30px;
  }
}
