.works {
  &__logo {
    text-align: center;
  }

  &__body {
    width: 100%;
    margin: auto;
    display: block;
    position: relative;
  }
}

.work {
  $duration: 300ms;
  transform: scale(0.7);
  transform-origin: 50% 50%;
  margin: auto;
  display: block;
  text-align: center;
  transition: all $duration ease;

  &__image {
    margin-bottom: 30px;

    img {
      border-radius: 50%;
      @include image;
    }
  }

  &__title {
    font-size: font-size(21);
    font-weight: 700;
    margin-bottom: 10px;
  }

  &__description {
    opacity: 0;
    transition: opacity $duration ease;
  }

  &__nav {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 120px;
    background-size: 100%;
    background-repeat: none;
    z-index: 1;
    cursor: pointer;

    $position: -50px;
    &--prev {
      left: $position;
      background-image: url('~/assets/images/arrow.png');
      transform: rotate(180deg);
    }

    &--next {
      right: $position;
      background-image: url('~/assets/images/arrow.png');
    }
  }
}

.slick-center .work {
  transform: scale(1);

  &__description {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .work__nav {
    $position: 15px;
    &--prev {
      left: $position;
    }

    &--next {
      right: $position;
    }
  }
}
